@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");
*,
*::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-image: url("../img/bg.jpg");
  background-size: cover;
}
img {
  width: 250px;
  padding-top: 50px;
  padding-left: 100px;
}
main {
  margin-top: 80px;
  margin-bottom: 60px;
  text-align: center;
}
#countdown h3 {
  text-align: right;
  color: azure;
}
p {
  margin-top: 0;
  text-align: center;
  font-family: "Outfit", sans-serif;
  color: white;
  font-size: 40px;
  display: block;
  margin: -10px;
}
#stringa2 {
  margin-top: 0;
  text-align: center;
  font-family: "Outfit", sans-serif;
  color: white;
  font-size: 40px;
  display: block;
  margin: -10px;
  font-weight: bolder;
}
form {
  padding-top: 20px;
  padding-bottom: 40px;
  margin-top: 50px;
}

button {
  font-family: "Inter", sans-serif;
  color: white;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: -1px -2px 2px 1px rgb(255, 255, 255);
  display: inline-block;
  width: 250px;
  height: 50px;
  padding: 15px;
  margin: 15px;
}
h1 {
  color: white;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: smaller;
}
span {
  color: #900080;
  font-weight: bolder;
}
#question {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Outfit", sans-serif;
  color: white;
  font-size: 40px;
}

#container-options {
  max-width: 50%;
  align-items: center;
  margin: auto;
}

.option-btn {
  font-family: "Inter", sans-serif;
  color: white;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: -1px -2px 2px 1px rgb(255, 255, 255);
  width: 250px;
  height: 50px;
  padding: 15px;
  margin: 15px;
}

.option-btn:hover {
  cursor: pointer;
  background-color: purple;
}

.numberQuestion {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
