@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  
  margin: 0;
  height: 100vh;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  
}

p{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
.img-logo{
  width: 250px;
  padding-top: 50px;
  padding-left:100px;

}

#main-container{
  text-align: center;
  margin: 27%;
  color: aliceblue;
}

#img-container {
  display: block;
  cursor: pointer;
  
}

#img-container img{
  display: inline-block;
  margin-right: 10px;
width: 40px;
height: auto;
border-radius: 8px;
}
.stella {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s, filter 0.2s;
  filter: brightness(0) saturate(100%) invert(12%) sepia(7%) saturate(5610%) hue-rotate(193deg) brightness(96%) contrast(110%);
}

.stella:hover {
  transform: scale(1.2);
}

.stella.selected {
  filter: brightness(0) saturate(100%) invert(86%) sepia(100%) saturate(1216%) hue-rotate(106deg) brightness(102%) contrast(103%);
}

#main-container .input-text input {
  display: inline-block;
  width: 450px;
  background: none;
  border: none;
  border-bottom: 2px solid #C2138C;
  outline: none;
  color: aliceblue;
  padding: 3px 0;
  padding-left: 20px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

button{
  background-color: #00ffff;
  font-family: "Inter", sans-serif;
 color: #0B113B;
 font-size: 16px;
 font-weight: bold;
  height: 45px;
  width: 150px;
  border-radius: 2%;
  margin-top: 35px;
  box-shadow: 0px 1px 43px #00ffff;
  border-style: none;
}