*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  text-align: center;
  color: white;


h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}