*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  color: white;
}

main {
  text-align: center;
}

.logo {
  width: 250px;
  padding-left: 100px;
  padding-top: 50px;
}

h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
